/* logo font */
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

#logoFont {
   font-family: "Poetsen One", sans-serif;
   font-weight: 400;
   font-style: normal;
}

#buttonBg{
   background-color: white;
}

#buttonBg:hover{
   background-color: #AD343E;
}

#modalStyle{
   border-radius: 0.25rem;
   background-color: #AD343E;
   width: 500px;
}


